<!DOCTYPE html>
<html>
    <head>
        <title>Log In</title>
        <style>
            h3{
                color: red;
            }
        </style>
    </head>
    <body>
        <h1> Login Now</h1>
        {% for message in messages %}
        <h3>{{message}}</h3>
        {% endfor%}
        
        <form method="POST" action="login">
            {% csrf_token %}
            <p>Username:</p>
            <input type="text" name="username" />
            <p>Password:</p>
            <input type="password" name="password" />
            
            <br>
            <br>
            <input type="submit"/>
            <br>
            <br>
            <p>Don't have an account?  </p>
            <a href="register">SignUp here</a>

        </form>
    </body>
</html>